/* navbar */
.navbar-default {
    background-color:#15ABFF;
    border-color: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand > .glyphicon{

    font-size: 1.5em;
    display: inline-block;
    float: left;
    padding: 0 10px 0 0;

}



.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3399ff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #3399ff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* Breadcrumbs */
.breadcrumb > li > .active{
    color:#15ABFF;
}
.breadcrumb > li > .active:hover{
    color:#3399ff;
}

/* Buttons */
.btn-custom {
    background:#15ABFF;
    color:#fff;
}

.btn-custom:hover {
    background:#3399ff;
    color:white;
} 

/* text */

.text-myblue{
    color:#15ABFF;    
}

.text-mylgrey{
    color:#a2a2a2;
}

.over-red{
    color:#999;
}

.over-red:hover{
    color:#d22;
    text-decoration:none;
}

.over-black{
    color:#999;
}

.over-black:hover{
    color:#000;
    text-decoration:none;
}

/* Lists */
.list-group > .active {
    background:#3399ff;
    color:#fff;
}


/* Icons */
.icons > span{
    font-size:1em;
    padding:7px 0 0 10px;  
}

.icon-hidden{
    visibility: hidden;
}

.icon-hidden > span{
    font-size:1em;
    padding:0 5px 0 10px;  
}

/* Tables */
.table-hover tbody tr:hover td a.icon-hidden{
    visibility: visible;
}



.alert{
    display:block;
}
