{% extends "base.html" %}

{% block content %}
{% include "nav-menu.html" %}
<div class="container col-md-3">
    <div class="list-group">
        <a href="/" class="list-group-item list-header active">My files</a>
        <button type="button" class="list-group-item disabled">Shared with me</button>
        <button type="button" class="list-group-item disabled">Shared with other</button>
        <a href="/trash/" class="list-group-item">Removed Files<span id="TrashCounter" class="badge"></span></a>
    </div>
</div>


<div class="container col-md-9">
    <ol class="breadcrumb" style="font-size:1.2em;">
        <li><a href="?path={{ user.get_username }}"><span class="glyphicon glyphicon-home text-myblue"></span></a></li>
            {% for crumb in breadcrumb  %}
                {% if forloop.last or not crumb.1 %}
                    <li class="active">{{ crumb.0 }}</li>
                {% else %}
                    <li><a href="?path={{ crumb.1 }}">{{ crumb.0 }}</a></li>
                {% endif %}
            {% endfor %}
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-custom">
                    <span class="glyphicon glyphicon-plus"></span>Add new</button>
                <button type="button" class="btn btn-sm dropdown-toggle btn-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#CreateFolderModal">Folder</a></li>
                </ul>
            </div>
            
            <label class="btn btn-sm btn-custom">
                Upload&hellip; <input id="UploadFileButton" file-path="{{ path|safe }}" type="file" style="display: none;">
            </label>
        </li>
    </ol>
    <div id="UploadInfo" class="form-group">
        <div id="UploadedFileLabel" class="progress-label"></div>  
        <div class="progress">
            <div id="ProgressBar" class="progress-bar progress-bar-info" 
                role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0;">
            </div>
        </div>
    </div>
{% if errors %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ errors|safe }}
    </div>
{% endif %}
   
    <div id="CreateFolderModal"  class="modal fade" role="dialog">
    	  <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New folder</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="DirNameInput" class="form-control" dir-path="{{ path|safe }}" placeholder="Folder name" required autofocus>
                    </div>
                    <div id="CreateFolderAlert"></div>
                    
                    <button type="button" id="MkdirButton" class="btn btn-custom btn-block">Create</button>
                </div>
                <div class="modal-sep"></div>
            </div>
        </div>
    </div>
    
  
    <table id="fmTable" class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th id="a">File name</th>
                <th></th>
                <th>Size</th>
                <th id="b">Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
{% if list_dir %}
    {% for item in list_dir %}
            <tr class="fm-row">
                <td>
                    <span class="glyphicon {{ item.ico }} text-mylgrey pull-right"></td>
                <td class="editable">                   
                    <a href="./?path={{ item.rpath }}" class="{% if item.type == 0 %}link-folder{% else %}link-file{% endif %} editLink" path="{{ path|safe }}">{{ item.fname }}</a>
                    <a class="editButton over-black icon-hidden" data-toggle="tooltip" data-placement="right" title="Rename">
                        <span class="glyphicon glyphicon-pencil"></span></a></td>
                <td class="text-left">
                    <a href="/download/?path={{ item.rpath }}" class="over-black icon-hidden"><span class="glyphicon glyphicon-download-alt"></span>Download</a>&emsp;
                    <a href="#" class="over-black icon-hidden"><span class="glyphicon glyphicon-share-alt"></span>Share</a></td>
                <td>{% if item.type == 1 %}{{ item.fsize|filesizeformat  }}{% endif %}</td>
                <td>{{ item.mtime }}</td>
                <td><a href="#" class="removeButton over-red icon-hidden" path="{{ path|safe }}" fname="{{ item.fname }}"  data-toggle="tooltip" data-placement="left" title="Remove">
                    <span class="glyphicon glyphicon-trash"></span></a></td>        
            </tr>
    {% endfor %}     
{% else %}
            <tr class="fm-row">
                <td colspan="6">This folder is empty</td>
            </tr>
{% endif%}
        </tbody>
    </table>
</div>


<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock content %}